@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@font-face {
  font-family: "ABeeZee";
  src: url("../fonts/ABeeZeeregular.eot");
  src: local("☺"), url("../fonts/ABeeZeeregular.woff") format("woff"), url("../fonts/ABeeZeeregular.ttf") format("truetype"), url("../fonts/ABeeZeeregular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Actor";
  src: url("../fonts/Actorregular.eot");
  src: local("☺"), url("../fonts/Actorregular.woff") format("woff"), url("../fonts/Actorregular.ttf") format("truetype"), url("../fonts/Actorregular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body._lock {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  line-height: 1;
  font-family: "Abel";
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Abel";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1292px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  padding: 12px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 149px;
          flex: 0 0 149px;
}

.header__worktime {
  margin: 0 auto;
  margin-bottom: 17px;
  max-width: 345px;
  color: #fff;
  text-shadow: 4px 4px 21px #000000;
}

.header__phone {
  color: #67D1FF;
  text-shadow: 4px 4px 6px #000000;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__phone:hover {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .header__container {
    display: block;
  }
}
/*Файл footer*/
.footer {
  margin-bottom: -30px;
}

.footer__container {
  max-width: 1087px;
  padding: 0 10px;
}

.footer__footer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__label {
  max-width: 300px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  color: #8F8F8F;
}

.footer__phone {
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-shadow: 4px 4px 6px #000000;
}
.footer__phone:hover {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .footer {
    display: none;
  }
}
/*--------------------*/
._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 767.98px) {
  .page {
    background: #def5ff;
  }
}
.main {
  position: relative;
  padding: 170px 0 28px;
}

.main__container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.main__content {
  color: #fff;
}

.main__title {
  font-family: Actor;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.main__text {
  font-size: 24px;
  line-height: 31px;
  max-width: 800px;
  margin: 0 auto;
}

.main__button {
  margin-top: 24px;
  margin-bottom: 57px;
  padding: 0 23px;
  font-size: 16px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
  line-height: 45px;
  background: #39AFBF;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  max-width: 650px;
}
.main__button:hover {
  background: blue;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 880px;
  margin: 0 auto;
}

.main__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 50px;
}

.main__icon {
  margin-bottom: 31px;
}

.main__label {
  color: #fff;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 992.98px) {
  .main__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 0 30px;
  }
}
@media (max-width: 767.98px) {
  .main__button {
    margin-bottom: 25px;
    margin-top: 20px;
  }

  .main {
    position: relative;
    padding: 279px 0 15px;
  }

  .main__title span {
    display: none;
  }

  .main__text span {
    display: none;
  }

  .main__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__item {
    padding: 0 0px;
    margin-bottom: 31px;
  }
  .main__item:nth-child(1) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main__item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__item:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__item:nth-child(1) {
    margin-bottom: 0;
  }
}
.service {
  background: #f6faff;
  padding: 20px 0 70px;
}

.service__title {
  text-align: center;
  font-size: 36px;
  line-height: 46px;
}

.service__label {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin-bottom: 15px;
}

.service__content {
  min-height: 420px;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 140px 90px 40px;
}

.service__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 2;
}

.service__subtitle {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 46px;
}

.service__text {
  font-size: 18px;
  line-height: 23px;
}

.service__bg {
  position: absolute;
  -webkit-box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.25);
  -webkit-filter: blur(3px);
          filter: blur(3px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.service__bg img {
  max-width: 100%;
}

@media (max-width: 1292px) {
  .service__content {
    padding: 140px 50px 40px;
  }
}
@media (max-width: 992.98px) {
  .service__content {
    padding: 140px 20px 20px;
  }

  .service__subtitle {
    margin-bottom: 25px;
  }

  .service__label {
    margin-bottom: 15px;
  }
}
@media (max-width: 767.98px) {
  .service {
    background: #def5ff;
    padding: 0px 0 10px;
  }
  .service .service__items {
    display: block;
  }
  .service .service__items .service__item {
    padding: 0 8px;
    margin-bottom: 10px;
  }
  .service .service__items .service__item .service__content {
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 238px;
    text-align: center;
  }
  .service .service__items .service__item .service__content .service__subtitle {
    margin-bottom: 0px;
  }
}
.feedback {
  padding: 0 0 65px;
  background: #f6faff;
}

.feedback__container {
  padding: 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.feedback__top {
  max-width: 455px;
}

.feddback__title {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 46px;
}

.feedback__subtitle {
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 20px;
  color: #8F8F8F;
  max-width: 400px;
}

.feedback__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.feedback__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
          flex: 0 0 38px;
}
.feedback__icon img {
  max-width: 100%;
}

.feedback__info {
  margin-left: 15px;
  padding: 5px 5px 5px 0;
  max-width: 190px;
}

.feedback__label {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 31px;
}

.feedback__unit {
  font-size: 16px;
  line-height: 20px;
  color: #8F8F8F;
}

.feedback__form {
  text-align: center;
  padding-top: 15px;
}

.feedback__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input {
  background: #F9F9F8;
  border-radius: 4px;
  width: 100%;
  margin-right: 25px;
  margin-bottom: 43px;
  min-height: 48px;
  padding: 0px 25px;
}
.input:nth-child(2) {
  margin-right: 0;
}

.feedback__message {
  background: #F9F9F8;
  border-radius: 4px;
  min-height: 160px;
  width: 100%;
  resize: none;
  padding: 18px 20px 20px 35px;
}

.feedback__button {
  background: #007CFB;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 55px;
  line-height: 55px;
  min-width: 510px;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  margin-top: 32px;
}

@media (max-width: 1292px) {
  .feedback__container {
    padding: 0 35px;
  }

  .feedback__button {
    min-width: 400px;
  }
}
@media (max-width: 992.98px) {
  .feedback__info {
    max-width: none;
  }

  .feedback__button {
    min-width: 300px;
  }

  .feedback {
    padding: 0 0 30px;
  }

  .feedback__inputs {
    display: block;
  }

  .input {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .feedback__items {
    display: block;
  }

  .feedback__subtitle {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .feedback {
    background: #def5ff;
  }

  .feedback__subtitle {
    display: none;
  }

  .feedback__items {
    display: none;
  }

  .feedback__container {
    display: block;
  }

  .feedback__button {
    width: 100%;
    min-width: 100px;
    margin-top: 29px;
  }

  .feedback__top {
    max-width: none;
    text-align: center;
  }
}
.fotoworks {
  background: #f2f2f2;
}

.fotoworks__container {
  max-width: 1070px;
  padding: 25px 10px 0;
}

.fotoworks__top {
  text-align: center;
  margin-bottom: 24px;
}

.fotoworks__title {
  font-size: 48px;
  line-height: 61px;
}

.fotoworks__subtitle {
  font-size: 24px;
  line-height: 31px;
}

.fotoworks__gallary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -17px -5px;
}

.fotoworks__photo {
  padding: 0 17px;
  margin-bottom: 29px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.fotoworks__image {
  position: relative;
  min-height: 324px;
}

.fotoworks__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 992.98px) {
  .fotoworks__container {
    padding: 25px 10px 15px;
  }

  .fotoworks__gallary {
    margin: 0 -5px;
  }

  .fotoworks__photo {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  .fotoworks {
    background: #def5ff;
  }

  .fotoworks__gallary {
    margin: 0 0;
    display: block;
  }

  .fotoworks__photo {
    padding: 0 0px;
    margin-bottom: 15px;
  }

  .fotoworks__container {
    padding: 0px 10px 2px;
  }
}
@media (max-width: 479.98px) {
  .fotoworks__gallary {
    margin: 0 5px;
    display: block;
  }

  .fotoworks__image {
    min-height: 238px;
  }
}
.client {
  padding: 51px 0 68px;
  background: #e3eeff;
}

.client__container {
  max-width: 1134px;
  padding: 0 10px;
}

.client__top {
  text-align: center;
}

.client__title {
  font-size: 48px;
  line-height: 61px;
  margin-bottom: 30px;
}

.client__subtitle {
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 79px;
}

.client__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 -17.5px;
}

.client__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 17.5px;
  margin-bottom: 20px;
}

.client__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  background: #fff;
  -webkit-box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  padding: 36px 20px 20px;
}

.client__icon {
  margin-bottom: 14px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.client__icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.client__name {
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 31px;
}

.client__text {
  max-width: 280px;
  font-size: 18px;
  line-height: 23px;
}

@media (max-width: 1292px) {
  .client__row {
    margin: 0 -10px;
  }

  .client__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 0 10px;
  }
}
@media (max-width: 992.98px) {
  .client__row {
    margin: 0 -10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .client__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 10px;
  }
}
@media (max-width: 767.98px) {
  .client {
    padding: 10px 0 2px;
    background: #def5ff;
  }

  .client__title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
  }

  .client__subtitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 630px) {
  .client__row {
    margin: 0 0px;
    display: block;
  }

  .client__column {
    padding: 0 0px;
  }
}
.company {
  padding: 64px 0 120px;
  position: relative;
  text-align: center;
}

.company__container {
  position: relative;
  z-index: 2;
}

.company__top {
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.company__title {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 34px;
}

.company__text {
  font-size: 18px;
  line-height: 21px;
}

.company__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.company__icon {
  margin-bottom: 10px;
}

.company__label {
  font-size: 24px;
  line-height: 31px;
  max-width: 150px;
  margin: 0 auto 25px;
}

.company__list {
  font-size: 18px;
  line-height: 23px;
}
.company__list li {
  margin-bottom: 25px;
}

.company__footer {
  display: none;
}

.company__phone {
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 4px 4px 6px #000000;
}

.company__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@media (max-width: 767.98px) {
  .company {
    padding: 30px 0;
    position: relative;
    text-align: center;
  }

  .company__icon {
    margin-bottom: 0px;
  }

  .company__items {
    display: block;
  }

  .company__footer {
    display: block;
  }

  .company__list li {
    margin-bottom: 17px;
  }

  .company__top {
    margin-bottom: 15px;
  }

  .company__label {
    margin-bottom: 25px;
  }

  .company__title {
    margin-bottom: 15px;
  }
}
